<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :receiver_id %>
      <%= f.select :receiver_id, @receivers.collect{|u| [u.full_name, u.id]}, {}, {:class => 'form-control'} %>
    </div>

    <div class="form-group">
      <%= f.label :subject %>
      <%= f.text_field :subject, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, :class => 'form-control', :rows => '5' %>
    </div>
  <div class="actions">
    <%= f.hidden_field :sender_id, :value => current_user.id %>
    <%= f.submit 'Send Message', :class => 'btn btn-primary' %>
    <%= link_to 'Back', messages_path, :class => 'btn btn-info' %>
  </div>
<% end %>
