<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
    <h2 class="text-center">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group field">
        <%= f.email_field :email, class: 'form-control input-lg input-block', autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit 'Send me reset password instructions', class:'btn btn-primary btn-lg btn-block' %>
      </div>
    <% end %>

    <%= render 'users/shared/links' %>
  </div>
</div>