<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <h2 class="text-center">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

        <div class="row">
            <div class="field col-sm-6">
                <div class="input-group form-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <%= f.text_field :first_name, class:'form-control input-lg', placeholder: :first_name %>
                </div>
            </div>
            <div class="field col-sm-6">
                <div class="input-group form-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <%= f.text_field :last_name, class:'form-control input-lg', placeholder: :last_name %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="field col-sm-12">
                <div class="input-group form-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                  <%= f.email_field :email, class:'form-control input-lg input-block', placeholder: :email %>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="field col-sm-6">
            <% if @validatable %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="field col-sm-6">
            <div class="input-group form-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <%= f.password_field :password, class:'form-control input-lg', placeholder: :password, autocomplete: "off" %>
            </div>
          </div>
          <div class="field col-sm-6">
            <div class="input-group form-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <%= f.password_field :password_confirmation, class:'form-control input-lg', placeholder: :password_confirmation, autocomplete: "off" %>
            </div>
          </div>
        </div>

        <%= f.fields_for :contact do |c| %>
            <div class="row">
              <%= c.label :phone %><br />
              <div class="field col-sm-12">
                <div class="input-group form-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <%= c.text_field :phone, class:'form-control input-lg', placeholder: :phone %>
                </div>
              </div>
            </div>
            <div class="row">
              <%= c.label :address %><br />
              <div class="field col-sm-12">
                <div class="input-group form-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <%= c.text_field :address, class:'form-control input-lg', placeholder: :address %>
                </div>
              </div>
            </div>
        <% end %>

      <div class="form-group">
        <%= f.submit 'Sign up', class:'btn btn-primary btn-lg btn-block' %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>